### AL ###
#Template for AL projects for Dynamics 365 Business Central
#launch.json folder
.vscode/

.alcache/

.alpackages/

.snapshots/

.output/

*.app

rad.json

*.g.xlf

*.flf

TestResults.xml
node_modules/
.env
